.wrapper{
    width:96%;
    margin: 0 auto;
}

body{
    background-color: #62a300;
    background-image: url(http://www.transparenttextures.com/patterns/argyle.png);
    font-family:arial;
}

form{
    width:300px;
    margin-top:10px;
    float:right;
}

header{
    width:500px;
    float:left;
}
.clear{
    clear:both;
}

.poster{
    width:300px;
    float:left;
}
.title{
    width:100px;
    margin:0 auto;
    float:left;
    text-align:center;
    padding-left:20px;
}

.large{
    width:150px;
    float:right;
    text-align:right;
}

.space{
    margin-right:5px;
}

.information{
    width:500px;
    margin:0 auto;
}

.overview{
    width:350px;
    margin: 0 auto;
    margin-top:60px;
    padding-left:130px;

}

.tag{
    width:300px;
    margin:0 auto;
    margin-top:20px;
    padding-left:150px;
}

.backdrop{
    width:500px;
    margin:0 auto;
    margin-top: 40px;
    padding-left:330px;
}

.money{
    width:250px;
    margin-top:20px;
    float:left;
    clear:both;
}

.form{
    width: 300px;
    margin:0 auto;
    margin-top:200px;
}

.logo{
    width:300px;
    margin-left:300px;
}